.header-container {
    background: #3399ff;
    height: auto;
    text-decoration: none;
    font-style:italic;
    color: white;
  }
  
  .header-container span {
    display: inline-block;
    margin-top: -20px;
    margin-left: 20px;
    font-size:20px;
  }

  li {
    margin-top: 15px;
    margin-right: 10px;
    float: right;
    list-style-type: none;
  }

