.product-image {
    width:250px;
  }

  .product-tiles {
    display: flex;
    background:  #eee;
    color: #282c34;
    word-wrap: break-word;
    width:240px;
    height:330px;
    padding: 30px 25px 20px;
    margin: 20px;
  }
  
  .product-name {
    display: block;
    font-size: 27px;
    padding-left:15px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
  }
  
  .product-description {
    display: flex;
    height: 115px;
    width: 250px;
    font-size: 22px;
    padding-left:15px;
    font-style: italic;
    text-align: left;
    margin: 10px 20px;
  }
  
  .product-price {
    display:inline-block;
    padding-top: 5px;
    font-size: 27px;
    text-align: left;
  }
  
  .product-price span {
    margin-left: 5px;
    color: red;
    font-size: 23px;
  }

  button {
    font-size:23px;
  }
  